/*=====================
main nav bar
=====================*/

#nav {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.navbar-brand {
  font-size: 25px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}
