/*=====================
main nav bar
=====================*/

#nav {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.navbar-brand {
  font-size: 25px;
  font-family: 'Permanent Marker', Arial, sans-serif;
  color: black;
}

.nav-dropwdown {
  width: 100px;
}

/*=====================
events/register page
=====================*/

.title {
  font-size: 22px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}

#valid-message {
  visibility: hidden;
  margin-bottom: -15px;
  margin: 5px;
}

/*=====================
index events page
=====================*/
.displaying-title {
  font-size 18px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
  margin-bottom: 35px;
  text-align: center;
}

.register-btn {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.box {
  margin-bottom: 10px;
}

.event-article {
  height: 190px;
  text-align: justify;
  overflow: scroll;
  margin-bottom: 15px;
}

.event-title {
  text-align: center;
  font-family: 'Permanent Marker', Arial, sans-serif;
}

.event-time {
  font-size: 12px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
  text-align: center;
}

.event-location {
  font-size: 14px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
  text-align: center;
}

.event-description {
  font-size: 12px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}

/*=====================
attendee page
=====================*/
.attendee-name {
  font-size: 22px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}

.attendee-displaying {
  font-size: 28px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}

.ticket-type {
  font-size: 12px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  color: black;
}
